<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/d20vkostce/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/d20vkostce"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    O nás | Časté otázky | Kniha návštěv | Autorská práva
  </div>
</div>
