<h3>Nejnovější články</h3>

<div class="grid-box">
  <div class="card-product newest-article">
  <div style="background: url(http://www.d20.cz/styly/office/img/bg-obr.jpg);">
    <img src="http://www.d20.cz/data/C/5293/_M5293.jpg">
  </div>
  <div class="card-product-infos">
    <h2>[Překlad] Poklad dračí královny</h2>
    <p>Po staletích skryté existence začal náhle vyvíjet aktivitu zákeřný dračí kult. Co za tím stojí? A podaří se hrdinům zhatit jeho plány? D&D 5e kampaň o osmi částech pro začínající postavy.</p>
  </div>
</div>

<div class="card-product">
  <div style="background: url(http://www.d20.cz/styly/office/img/bg-obr.jpg);">
    <img src="http://www.d20.cz/data/C/5291/_S5291.jpg">
  </div>
  <div class="card-product-infos">
    <h2>DnD sesilatelé jako studenti chemie</h2>
    <p>Jednoduchá alegorie pro účely popisu rozdílů mezi jednotlivými sesilatelskými povoláními v DnD!</p>
  </div>
</div>

<div class="card-product">
  <div style="background: url(http://www.d20.cz/styly/office/img/bg-obr.jpg);">
    <img src="http://www.d20.cz/data/C/5286/_S5286.jpg">
  </div>
  <div class="card-product-infos">
    <h2>[Recenze] Páni Temnot - Lords of Darkness</h2>
    <p>Hrdinové potřebují protivníky, zloduchy, proti kterým by prokázali své hrdinství. Jistě, lze to i jinak, taková záchrana města před přírodní katastrofou nebo epidemií, kterým z pozadí nikdo „nepomáhá“ také má své kouzlo. Leč s někým, do koho lze vrazit kopí, to přeci jen jde lépe.</p>
  </div>
</div>

<div class="card-product">
  <div style="background: url(http://www.d20.cz/styly/office/img/bg-obr.jpg);">
    <img src="http://www.d20.cz/data/C/5288/_S5288.jpg">
  </div>
  <div class="card-product-infos">
    <h2>GameCon 2019: Ke kostkám, krysy!</h2>
    <p>Opět se blíží GameCon, tentokrát v pirátském stylu! Jako vždy předposlední víkend července (tedy od čtvrtka 18. do neděle 21.) Těšit se můžete na spoustu RPG, rekordní množství larpů, epické deskovky, Mistrovství v DrD a na Legendy Klubu dobrodruhů, otevřenou deskohernu, akční hry, bonusové aktivity, párty a skvělou komunitu!</p>
  </div>
</div>

<div class="card-product">
  <div style="background: url(http://www.d20.cz/styly/office/img/bg-obr.jpg);">
    <img src="http://www.d20.cz/data/C/5285/_S5285.jpg">
  </div>
  <div class="card-product-infos">
    <h2>[Recenze] Šampioni udatnosti - Champions of Valor</h2>
    <p>Hrdinství bývá různorodé, stejně jako hrdinové. Někteří ovšem jsou svými činy výjimeční, ojedinělí. Dobře se o nich čte, dobře se o nich poslouchá, bývají vděčným námětem filmové tvorby. Naneštěstí, hrát takové hrdiny tak, aby hra zůstala zábavná a nesklouzávala ke klišé, není jednoduché. Ku pomoci hráčům se objevila řada článků s radami a triky – a Šampióni udatnosti. </p>
  </div>
</div>


</div>
