<h3>Nejnovější články</h3>

<div class="grid-box">
  <div class="card newest-article">
    <img src="http://www.d20.cz/data/C/5293/_M5293.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <div class="m-3">
        <h5>[Překlad] Poklad dračí královny</h5>
        <p>Po staletích skryté existence začal náhle vyvíjet aktivitu zákeřný dračí kult. Co za tím stojí? A podaří se hrdinům zhatit jeho plány? D&D 5e kampaň o osmi částech pro začínající postavy.</p>
      </div>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

  <div class="card" style="height: 330px;">
    <img src="http://www.d20.cz/data/C/5291/_S5291.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <h5 class="m-3">DnD sesilatelé jako studenti chemie</h5>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

  <div class="card" style="height: 330px;">
    <img src="http://www.d20.cz/data/C/5286/_S5286.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <h5 class="m-3">[Recenze] Páni Temnot - Lords of Darkness</h5>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

  <div class="card" style="height: 330px;">
    <img src="http://www.d20.cz/data/C/5288/_S5288.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <h5 class="m-3">GameCon 2019: Ke kostkám, krysy!</h5>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

  <div class="card" style="height: 330px;">
    <img src="http://www.d20.cz/data/C/5285/_S5285.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <h5 class="m-3">[Recenze] Šampioni udatnosti - Champions of Valor</h5>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

  <div class="card" style="height: 330px;">
    <img src="http://www.d20.cz/data/C/5284/_S5284.jpg" style="height: 40%;">
    <div class="d-flex flex-column justify-content-between" style="height: 60%;">
      <h5 class="m-3">[Překlad] Tales from the Yawning Portal</h5>
      <a href="#" class="btn btn-primary m-3">Přečíst článek</a>
    </div>
  </div>

</div>
